<h1>Gracias por elegir TAIKAI</h1>
<p>Hola,</p>
<p>Esperamos que tu hackathon haya ido genial 游</p>
<p>Nos encantar칤a conocer tu opini칩n sobre tu experiencia general con TAIKAI, desde la plataforma
  hasta c칩mo te apoyamos durante todo el proceso. Hemos preparado una breve encuesta que solo te
  tomar치 un minuto completar:</p>
<a href='{{surveyLink}}' class='cta-button'>Abrir Encuesta</a>
<p>Tu opini칩n nos ayuda a mejorar TAIKAI.</p>
<p>Si tienes alg칰n problema, copia esta URL y p칠gala en tu navegador:</p>
<p><a href='{{surveyLink}}'>{{surveyLink}}</a></p>
<p>Gracias por tu tiempo,</p>
<p>El Equipo de TAIKAI</p>