<p>Hola <strong>{{username}},</strong></p>

<p>El desafío puede haber terminado, pero el viaje de tu proyecto no tiene que parar aquí.</p>
<p>
  <a href='{{garden_url}}'><strong>El Garden</strong></a>
  es nuestro ecosistema diseñado para ayudar a constructores como tú a llevar los proyectos al
  siguiente nivel.</p>
<p>Aquí, puedes enviar tu construcción, seguir creciendo con el apoyo de la comunidad, acceder a
  beneficios exclusivos de Socios y, cuando estés listo, lanzar tu token.</p>
<p>Es aquí donde las ideas pasan de desafíos a proyectos reales y vivos en el ecosistema.</p>
<p>¿Quieres probarlo?</p>
<a href='{{garden_url}}' class='cta-button'>Lanzar Proyecto</a>
<p>Nos vemos en el Garden,</p>

<p><strong>Equipo TAIKAI.</strong></p>
{{{supportMsg}}}