<h1>Este não é o fim do seu projeto</h1>
<p>Olá <strong>{{username}},</strong></p>
<p>O desafio pode ter terminado, mas a jornada do seu projeto não precisa parar por aqui.</p>
<p>
  <a href='{{garden_url}}'><strong>O Garden</strong></a>
  é o nosso ecossistema projetado para ajudar construtores como você a levar os projetos para o
  próximo nível.</p>
<p>Aqui, você pode submeter sua construção, continuar crescendo com o apoio da comunidade, acessar
  benefícios exclusivos de Parceiros e, quando estiver pronto, lançar seu token.</p>
<p>É aqui que as ideias passam de desafios para projetos reais e vivos no ecossistema.</p>
<p>Quer experimentar?</p>
<a href='{{garden_url}}' class='cta-button'>Lançar Projeto</a>
{{{supportMsg}}}