<h1>Obrigado por escolher a TAIKAI</h1>
<p>Olá,</p>
<p>Esperamos que o seu hackathon tenha sido incrível 🚀</p>
<p>Gostaríamos muito de saber a sua opinião sobre a experiência geral com a TAIKAI, desde a
  plataforma até a forma como te apoiamos durante todo o processo. Preparamos uma pesquisa rápida
  que leva apenas um minuto para responder:</p>
<a href='{{surveyLink}}' class='cta-button'>Abrir Formulário</a>
<p>A sua opinião nos ajuda a melhorar a TAIKAI.</p>
<p>Se tiver algum problema, copie esta URL e cole no seu navegador:</p>
<p><a href='{{surveyLink}}'>{{surveyLink}}</a></p>
<p>Obrigado pelo seu tempo,</p>
<p>A Equipe TAIKAI</p>