<h1>Oh não! Sua transferência de LXs falhou!</h1>
<p>Olá <strong>{{username}}!</strong></p>
<p>Transferência global de
  <strong>{{amount}} LXs</strong>
  para
  <strong>{{to}}</strong>
  falhou.</p>
<p>Por favor, tente novamente!</p>
{{{supportMsg}}}