<h1>Você enviou LXs!</h1>
<p>Olá <strong>{{from}}!</strong></p>
<p>Transferência global de
  <strong>{{amount}} LXs</strong>
  para
  <strong>{{to}}</strong>
  confirmada com sucesso.</p>
<p>Use-os com sabedoria!</p>
{{{supportMsg}}}