<h1>Vous avez reçu des VKAI !</h1>
<p>Bonjour, <strong>{{to}} !</strong></p>
<p>Vous avez reçu <strong>{{amount}} VKAI</strong> pour soutenir des projets dans le défi <strong>{{challengeName}}</strong>. Utilisez-les judicieusement !</p>
{{{supportMsg}}}