<h1>Bienvenue sur {{challengeName}}</h1>
<p>Bonjour {{username}} !</p>
<p>Êtes-vous prêt à encadrer les projets {{challengeName}} avec vos compétences de ninja ?</p>
<p>Les mentors jouent un rôle très important sur TAIKAI ! Vous aurez la possibilité de faire la différence en aidant nos participants à créer des solutions exceptionnelles pour ce défi.</p>
<p>Mettez à jour votre biographie et vos compétences sur TAIKAI. Cela aidera les participants à vous trouver et à correspondre aux compétences qu'ils recherchent.</p>
<p>Pour cette raison, il est important que vous acceptiez et respectiez les règles du challenge, que vous pouvez consulter à tout moment <a href="{{rulesLink}}">ici</a>.</p>