<h1>This is not the end of your hackathon project</h1>
<p>Hey <strong>{{username}}</strong>,</p>
<p>The hackathon might be over, but your project's journey doesn't have to stop here.</p>
<p>
  <a href='{{garden_url}}'><strong>The Garden</strong></a>
  is our ecosystem designed to help builders like you take hackathon projects to the next level.</p>
<p>Here, you can submit your build, keep growing it with community support, access exclusive Partner
  perks, and when you're ready, launch your token.</p>
<p>This is where ideas move from hackathons to real, live projects in the ecosystem.</p>
<p>Want to give it a try?</p>
<a href='{{garden_url}}' class='cta-button'>Launch Project</a>
{{{supportMsg}}}