<h1>Vous avez reçu des VOTE !</h1>
<p>Bonjour, <strong>{{to}} !</strong></p>
<p>Vous avez reçu
  <strong>{{amount}} VOTE</strong>
  pour soutenir des projets dans le défi
  <strong>{{challengeName}}</strong>. Utilisez-les judicieusement !</p>
{{{supportMsg}}}