<h1>Merci d'avoir choisi TAIKAI</h1>
<p>Bonjour,</p>
<p>Nous espérons que votre hackathon s'est bien passé 🚀</p>
<p>Nous aimerions avoir votre avis sur votre expérience globale avec TAIKAI, de la plateforme
  elle-même à la façon dont nous vous avons accompagné tout au long du processus. Nous avons
  préparé un court sondage qui ne prend qu'une minute à compléter :</p>
<a href='{{surveyLink}}' class='cta-button'>Ouvrir le Sondage</a>
<p>Vos commentaires nous aident à améliorer TAIKAI.</p>
<p>Si vous rencontrez des difficultés, copiez cette URL et collez-la dans votre navigateur :</p>
<p><a href='{{surveyLink}}'>{{surveyLink}}</a></p>
<p>Merci pour votre temps,</p>
<p>L'Équipe TAIKAI</p>