<p>Bonjour !</p>
<p>Chez <strong>TAIKAI</strong>, nous nous engageons à améliorer en permanence nos services et événements, et votre avis est essentiel pour nous aider à atteindre cet objectif.</p>
<p>Seul le feedback peut nous faire progresser, et vos commentaires sont très importants pour nous. Nous tenons à vous remercier d'avoir répondu à notre formulaire de feedback concernant votre expérience sur la plateforme.</p>
<p>Vos réponses ne seront utilisées que pour améliorer l'expérience des hackathons pour vous et tous les participants futurs. Pour partager votre avis, veuillez cliquer sur le lien suivant pour accéder au sondage :</p>
<a href="{{surveyLink}}" class='cta-button'>Donner un avis</a>
<p>Si vous rencontrez des difficultés, copiez ce lien et collez-le dans votre navigateur :</p>
<p><a href="{{surveyLink}}">{{surveyLink}}</a></p>
{{{supportMsg}}}