<p>Salut <strong>{{username}},</strong></p>

<p>Le hackathon est peut-être terminé, mais le voyage de ton projet n'a pas à s'arrêter ici.</p>
<p>
  <a href='{{garden_url}}'><strong>Le Garden</strong></a>
  est notre écosystème conçu pour aider les constructeurs comme toi à faire passer les projets de
  hackathon au niveau suivant.</p>
<p>Ici, tu peux soumettre ta construction, continuer à la faire grandir avec le soutien de la
  communauté, accéder à des avantages exclusifs de Partenaires et, quand tu seras prêt, lancer ton
  token.</p>
<p>C'est ici que les idées passent des hackathons à des projets réels et vivants dans l'écosystème.</p>
<p>Tu veux essayer ?</p>
<a href='{{garden_url}}' class='cta-button'>Lancer le Projet</a>
<p>À bientôt dans le Garden,</p>

<p><strong>L'équipe TAIKAI.</strong></p>
{{{supportMsg}}}