<h1>Votre compte a été supprimé comme vous l'avez demandé</h1>
<p>Il est temps de dire au revoir, {{username}} !</p>
<p>Cela a été un plaisir de vous avoir sur la plateforme TAIKAI, mais comme vous l'avez demandé, votre compte et vos données privées ont été supprimés de nos systèmes. Pour rejoindre le réseau et faire à nouveau partie de cette famille, vous devrez vous inscrire et créer un nouveau compte. Ne vous inquiétez pas, vous êtes plus que bienvenu !</p>
{{{supportMsg}}}
<p>Au revoir et à bientôt !</p>
<p><strong>L'équipe TAIKAI</strong></p>
