<h1>Nouvelle recommandation d'ami confirmée</h1>
<p>Félicitations, votre ami {{to}} a confirmé votre recommandation.</p>
<p>Étant donné que vous avez terminé une autre recommandation, vous recevrez
  <strong>{{amount}} TKAIs</strong>
  pour nous avoir aidés à toucher davantage de personnes. Vous pouvez utiliser le jeton TKAI sur
  notre plateforme ou le sauvegarder pour plus tard.</p>
<p>Merci d'être génial !</p>
{{{supportMsg}}}