<h1>Nous avons une annonce importante pour vous !</h1>
{{message}}<br />
<a href='https://taikai.network' class='cta-button'>ALLEZ SUR TAIKAI</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href='https://taikai.network'>https://taikai.network</a>
{{{supportMsg}}}