<h1>Vous avez envoyé des TKAIs !</h1>
<p>Bonjour <strong>{{from}} !</strong></p>
<p>Transfert global de <strong>{{amount}} TKAIs</strong> à <strong>{{to}}</strong> confirmé avec succès.</p>
<p>Utilisez-les judicieusement !</p>
{{{supportMsg}}}