<h1>Oh non ! Votre transfert de TKAIs a échoué !</h1>
<p>Bonjour <strong>{{username}} !</strong></p>
<p>Le transfert global de
  <strong>{{amount}} TKAIs</strong>
  vers
  <strong>{{to}}</strong>
  a échoué.</p>
<p>Veuillez réessayer !</p>
{{{supportMsg}}}