<h1>Vous avez reçu des TKAIs !</h1>
<p>Bonjour <strong>{{to}} !</strong></p>
<p>Transfert global de <strong>{{amount}} TKAIs</strong> de la part de <strong>{{from}}</strong> reçu avec succès.</p>
<p>Utilisez-les judicieusement !</p>
{{{supportMsg}}}
