<h1>Votre compte a dépassé le nombre maximum de tentatives 2FA</h1>
<p>Après plusieurs tentatives échouées pour vérifier le code 2FA, votre compte a été temporairement
  verrouillé (<strong>{{tmpLockoutMin}} min</strong>) pour des raisons de sécurité.</p>
{{{supportMsg}}}